################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/VolvoPaintJobCheck/.vs/VolvoPaintJobCheck/v15
